$button-orange: #f50;
$mid-gray:#333;
$nav-bar-selected-gray: #111; 
$light-gray: rgb(150,150,150);
$background-gray: #f2f2f2;
$lighter-gray: #cecece;
$nav-bar-icon-selected-gray: #fff;
$button-hover-orange: rgb(255, 60, 0);
