$button-orange: #f50;
$mid-gray:#333;
$nav-bar-selected-gray: #111; 
$light-gray: rgb(150,150,150);
$background-gray: #f2f2f2;
$lighter-gray: #cecece;
$nav-bar-icon-selected-gray: #fff;
$button-hover-orange: rgb(255, 60, 0);
$update-image-translucent: rgba(255,255,255,.8);
$nav-bar-text-color: #eee;
$border-gray: #C2C2C2;
$empty-profile-head-gray: #AEB4B7;
$trash-can-black: #222222;
