/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


html, body {
  height: 100%;
  margin: 0;
  background-color: #f2f2f2;
  font-family: "Avant Garde", sans-serif;
  font-weight: 300;
}

#root{
  background-color: white;
  height: 100%;
}

.page-centered{
  width: 85%;
  max-width: 1250px;
  margin: auto;
}

#app{
  display: flex;
  justify-content: center;
}

.page-centered-inner{
  width: 81%;
  max-width: 1190px;
  margin: auto;
}

#show-tracks-testing{
  margin: auto;
  height: 100px;
  width: 100px;
  background: red;
}