.page-centered{
  width: 100%;
}

.continuous-play-bar-main-frame{
  width: 85%;
}

.single-track-display{
  height: 210px;
}

.discover-page .single-track-display{
  height: 240px;
}

.six-tracks-display{
  flex-direction: column;

}

.three-tracks{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.splash-auth-btns{
  right: 0;
  margin-left: 0px;
}

.modal-form{
  margin-left: -125px;
  width: 250px;
}

.discover-tracks-and-stats{
  flex-direction: column;
}

.tracks-scrolling-display{
  display: none;
}

.liked-display-list-item{
  align-items: flex-start;
  width: 200px;
  flex-direction: column;
  display: flex;
}

.user-show-body .liked-display-list-item{
  flex-direction: row;
}

.followed-user-display{
  display: flex;
  justify-content: space-around;
  width: 100%;

  .liked-display-list-item:nth-child(3){
    display: none;
  }
}

.like-and-options{
  right: 0px;
  display: flex;
}


.recent-tracks-display{
  flex-direction: column;
}

.recent-tracks-two{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.track-show-header {
  iframe {
    width: 80%;
  }
  
  .image-upload{
    display: none;
  }
}

.track-upload-stage-two-body{
  form{
    flex-direction: column;
  }
}
 
.track-list-item-option-icons{
  left: 350px;
  display: flex;
  flex-direction: column;
}

.track-upload-container div{
  top: 70%;
  padding: 10;
}

.user-show-body .like-and-options{
  top: 70px;
  right: normal;
  left: 0;
}

.user-follow-stats{
  display: none;
}

.user-show-header .upload-new-background-image{
  display: none;
}

#upload-nav-button{
  display: none;
}

.progress-bar-container, .queue-information{
  display: none;
}

.control-bar{
  width: 100%;
  justify-content: space-around;
}

.widgets-and-followers{
  display: flex; 
  flex-direction: column-reverse;
}

.followers-following-display{
  width: 100%;
}

@media only screen and (min-width: 430px){

  .track-upload-container div{
    top: 50%;
  }

  .six-tracks-display{
    flex-direction: row;
  }

  .splash-auth-btns{
    right: 25px;
  }

  .track-list-item-option-icons{
    left: 400px;
    flex-direction: column;
  }
}

@media only screen and (min-width: 600px){


  .progress-bar-container{
    display: flex;
  }

  .control-bar{
    width: 100%;
    justify-content: normal;
  }

  #upload-nav-button{
    display: flex;
  }

  .track-list-item-option-icons{
    flex-direction: row;
  }


  .track-upload-stage-two-body{
    form{
      flex-direction: row;
    }
  }
  
  .recent-tracks-display{
    flex-direction: column;
  }
  
  .recent-tracks-two{
    flex-direction: row;
  }

  .liked-display-list-item:nth-child(2){
    display: flex;
  }
}

@media only screen and (min-width: 813px){

  .user-show-body .widgets{
    width: 50%;
  }

  .followers-following-display{
    width: 25%;
  }

  .widgets-and-followers{
    flex-direction: row;
  }

  .liked-display-list-item{
    width: 200px;
    flex-direction: column;
    align-items: center;
  }

  .liked-display-list-item:nth-child(3){
    display: flex;
  }

  .queue-information{
    display: flex;
  }

  .control-bar{
    width: 70%;
  }

  .user-show-header .upload-new-background-image{
    display: flex;
  }

  .user-follow-stats{
    display: flex;
  }

  .user-show-body .like-and-options{
    left: inherit;
    right: 0;
    top: 20px;
  }

  .track-upload-container div{
    top: 35%;
    padding: 0;
  }

  .track-list-item-option-icons{
    left: 500px;
  }

  .track-show-header .image-upload{
    display: block;
  }
  
  .track-show-header iframe{
    width: 50%;
  }
  
  .followed-user-display{
    display: block;
    width: 300px;

    .liked-display-list-item:nth-child(3){
      display: flex;
    }
  }

  .tracks-scrolling-display{
    display: block;
  }
  
  .discover-tracks-and-stats{
    flex-direction: row-reverse;
  }

  .modal-form{
    margin-left: -225px;
    width: 450px;
  }

  .splash-auth-btns{
    right: 50px;
  }

  .six-tracks-display{
    flex-direction: column;
  }

  .three-tracks{
    flex-direction: row;
  }

  .discover-tracks-display {
    width: 450px;
  }

  .tracks-scrolling-display{
    width: 420px;
  }

  .scrolling-display{
    width: 180px;
  }

  .liked-display-list-item{
    width: 100%;
  }
}


@media only screen and (min-width: 1025px){

  .control-bar{
    margin-left: 65px;
  }

  .user-show-body .widgets{
    width: 55%;
  }

  .track-list-item-option-icons{
    left: 700px;
  }

  .page-centered{
    width: 85%;
  }

  .continuous-play-bar-main-frame{
    width: 100%;
  }

  .discover-tracks-display {
    width: 550px;
  }

  .tracks-scrolling-display{
    width: 520px;
  }

  .scrolling-display{
    width: 280px;
  }
}

@media only screen and (min-width: 1200px){

  .user-show-body .widgets{
    width: 60%;
  }

  .track-list-item-option-icons{
    left: 800px;
  }


  .discover-tracks-display {
    width: 650px;
  }

  .tracks-scrolling-display{
    width: 620px;
  }

  .scrolling-display{
    width: 380px;
  }
}

@media only screen and (min-width: 1300px){

  .user-show-body .widgets{
    width: 66%;
  }

  .track-list-item-option-icons{
    left: 900px;
  }

  .discover-tracks-display {
    width: 750px;
  }

  .tracks-scrolling-display{
    width: 720px;
  }

  .scrolling-display{
    width: 480px;
  }
}

@media only screen and (min-width: 1450px){

  .control-bar{
    margin-left: 0;
    width: 75%;
  }

  .track-list-item-option-icons{
    left: 1000px;
  }

  .recent-tracks-display{
    flex-direction: row;
  }
  
  .recent-tracks-two{
    flex-direction: row;
  }

  .six-tracks-display{
    flex-direction: row;
  }

  .three-tracks{
    flex-direction: row;
  }

  .discover-tracks-display {
    width: 850px;
  }

  .tracks-scrolling-display{
    width: 820px;
  }

  .scrolling-display{
    width: 580px;
  }

}

