$button-orange: #f50;
$mid-gray:#333;
$nav-bar-selected-gray: #111; 
$light-gray: rgb(150,150,150);
$background-gray: #f2f2f2;
$lighter-gray: #cecece;
$nav-bar-icon-selectec-gray: #fff;
$button-hover-orange: rgb(255, 60, 0);

.nav-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  background: $mid-gray;
  z-index: 100;
}

.nav-bar-main-frame{
  width: 85%;
  max-width: 1250px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;


  .logo{
    position: relative;
    background-image: linear-gradient(rgb(255, 145, 0), rgb(219, 44, 0));
    width: 70px;
    height: 100%; 
    display: flex;
    justify-content: center;


    .fa-cloud{
      font-size: 20pt;  
      color: white;
    }
    
    // .fa-music{
    //   position: absolute;
    //   top: 21px;
    //   right: 30px;
    //   font-size: 10pt;
    //   color: rgb(100,100,100)
    // }
  }
  .left-btns{
    border-right: 2px solid rgb(45, 45, 45);
    width: 100px;
    height: 100%;
    text-align: center;
    color: #eee;
  }

  .upload{
    align-self: center;
    text-align: center;
    width: 100px;
    color: #eee;
  }

}


.search-bar-container{
  width: 570px;
  height: 100%;
  display: flex;
  position: relative;

  input {
    background: white;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    margin: 10px 15px;
    text-indent: 10px;
  }

  i {
    position: absolute;
    right: 25px;
    top: 18px;
    color: $mid-gray;
  }

}


.profile-dropdown{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-dropdown *{
  /* margin: 3px; */
  color: #eee;
  margin: 0 6px;
}

.fa-bell, .fa-envelope, .fa-ellipsis-h{
  color: #eee;
  align-self: center;
  margin: 0 15px;
}


.dropdown-component{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ellipsis-options-nav-bar{
  margin: 0px 20px;
  width: 50px;
  height: 50px;
  // border: 1px solid green;

  ul{
    background-color: $nav-bar-selected-gray;
    position: fixed;
    top: 50px;
    width: 100px;
    margin-left: -25px;
  }

  li{
    color: $lighter-gray;
    width: 100%;
    padding: 5px;
    font-size: 10pt;
    text-indent: 3px;
    font-weight: 500;
  }
}

.nav-bar-main-frame .selected{
  background-color: $nav-bar-selected-gray;

  i{
    color: $nav-bar-icon-selectec-gray;
  }
}