@import 'colors';

.nav-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  background: $mid-gray;
  z-index: 100;
}

.nav-bar-main-frame{
  width: 85%;
  max-width: 1250px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;


  .logo{
    position: absolute;
    background-image: linear-gradient(rgb(255, 145, 0), rgb(219, 44, 0));
    width: 70px;
    height: 100%; 
    display: flex;
    justify-content: center;


    .fa-cloud{
      font-size: 20pt;  
      color: white;
    }
    
  }
  .left-btns{
    border-right: 2px solid rgb(45, 45, 45);
    margin-left: 70px;
  }

  .right-btns{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
  }

  .nav-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: $nav-bar-text-color;
    text-align: center;
    width: 100px;
  }
}

.nav-bar-selected{
  background-color: $nav-bar-selected-gray;
}

.search-bar-container{
  width: 500px;
  height: 100%;
  display: flex;
  position: absolute;
  left: 50%;
  margin-left: -250px;

  input {
    background: white;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    margin: 10px 15px;
    text-indent: 10px;
  }

  i {
    position: absolute;
    right: 25px;
    top: 18px;
    color: $mid-gray;
  }
}


.profile-dropdown{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-dropdown *{
  /* margin: 3px; */
  color: #eee;
  margin: 0 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  img{
    width: 30px;
    height: 30px;
    border-radius: 100px;
  }
}

.fa-bell, .fa-envelope, .fa-ellipsis-h{
  color: #eee;
  align-self: center;
  margin: 0 15px;
}


.dropdown-component{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.options-dropdown{
  height: 50px;
  ul{
    background-color: $nav-bar-selected-gray;
    position: fixed;
    top: 50px;
  }

  li{
    color: $lighter-gray;
    width: 100%;
    padding: 5px;
    font-size: 10pt;
    text-indent: 3px;
    font-weight: 500;
  }
}

.ellipsis-options-nav-bar{
  width: 50px;

  ul{
    width: 50px;
    margin-left: -25px;
  }
}

.profile-options-nav-bar{

  ul{
    width: 135px;
    margin-left: -14px;
  }
}

.nav-bar-main-frame .selected{
  background-color: $nav-bar-selected-gray;

  i{
    color: $nav-bar-icon-selected-gray;
  }
}