@import 'colors';

.single-track-display{
  width: 180px;
  height: 225px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px 10px;

  .track-main-image{
    width: 100%;
  }

  .play-button{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -30px;
  }

  .hidden{
    display: none;
  }

  .single-track-artist-title{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 0 5px 10px;
  }

  .title{
    color: $mid-gray;
  }

  .title:hover{
    color: black;
  }

  .artist-name{
    color: $light-gray;
  }

  .artist-name:hover{
    color: $nav-bar-selected-gray;
  }

}

.six-tracks-display{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

//TRACKS SCROLLING DISPLAY

.tracks-scrolling-display{
  margin: 30px;
  width: 820px;
  height: 220px;
  background: linear-gradient(135deg, rgb(72, 96, 122) 0%, rgb(38, 30, 28) 100%);

  img{
    width: 50px;
    height: 50px;
    margin: 20px 0 20px 20px;
  }

}

.scrolling-display{
  overflow: scroll;
  height: 100%;
  margin: 20px 10px;

  li{
    color: $nav-bar-text-color;
    border-bottom: 1px solid $light-gray;
  }
}

.discover{
  margin: 50px 0;
}