.splash-image{
  height: 450px;
  width: 100%;
  background-image: linear-gradient(to right, rgb(161, 67, 250), rgb(206, 6, 179));
  margin: auto;
  display: flex;
}

.splash-auth-btns{
  position: absolute;
  top: 25px;
  right: 250px;
  display: flex;
  flex-direction: row;
}

.splash-auth-btns button{
  margin-left: 10px;
}

.splash-auth-btns > button{
  background: #f50;
  color: white;
  padding: 4px 15px;
  border: 1px solid #f50;
  border-radius: 5px;
}

.splash-auth-btns #sign-in-btn{
  color: white;
  margin: auto;
  padding: 4px 15px;
}

.splash-auth-btns div {
  border: 1px solid white;
  border-radius: 5px;
}

.splash-welcome-text{
  margin: auto;
  width: 50%;
  text-align: center; 
  /* border: 1px solid red; */
}

.splash-welcome-text *{
  color: white;
}

.splash-welcome-text h1 {
  font-size: 30pt;
  font-weight: 300;
  margin: 20px;
}

.splash-welcome-text h2 {
  font-size: 14pt;
  margin: 20px;
  margin-bottom: 40px;
  font-weight: 300;

}
.splash-welcome-text a {
  font-size: 14pt;
  background-color: #f50;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-weight: 300;
}

.js-modal-close {
  display: none;
}

.js-modal-open{
  display: block;
}

.modal{
  /* display: none; */

}

.modal-screen{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  background: rgba(219, 219, 219, 0.8);
}

.modal-form{
  position: absolute;
  left: 50%;
  margin-left: -225px;
  width: 450px;
  height: 620px;
  background-color: white;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-form .options{
  width: 90%;
  height: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  top: 50%;
  
}

.options *{
  width: 90%;
  margin: 10px;
  padding: 7px 9px;
  border-radius: 3px;
}

.modal-form #email, .modal-form #password, .modal-form #age {
  border: 1px solid #ccc;
  font-size: 13pt;
}

.modal-form #submit {
  border: 1px solid #f50;
  background-color: #f50;
  color: white;
  text-align: center;
}

.modal-screen .modal-close {
  position: absolute; 
  top: 50px;
  right: 50px;
  color: black;
  font-weight: 700;
  font-size: 20pt;
}

.modal-close i{
  font-size: 24px;
  color: black;
}

.modal-form h1{
  font-size: 32pt;
  text-align: center;
  font-weight: 400;
  margin-left: 15px; 
  margin-right: 15px;
  top: 25%;
}

.modal-form label{
  font-size: 14pt;
}

.options select {
  font-size: 12pt;
}

