$button-orange: #f50;

.orange-btn{
  background-color: $button-orange;
  color: white;
}

.splash-image{
  height: 450px;
  width: 100%;
  display: flex;
  position: relative;
  background-size: cover;
  overflow: hidden;
  justify-content: center;
  align-items: center;

  img{
    position: absolute;
    width: 1250px;
  }

  &:before {
    content: '';
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right, rgb(161, 67, 250), rgb(206, 6, 179));
    opacity: .6;
  }
}

.splash-image-contents{
  position: relative;
  height: 450px;
  width: 100%;
  margin: auto;
  display: flex;
  z-index: 3;
}

.photo-credit{
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0px 25px 25px 0;
  font-size: 9pt;
  font-weight: 400;
  color: white;
}


.splash-auth-btns{
  position: absolute;
  top: 25px;
  display: flex;
  flex-direction: row;

  button {
    margin-left: 10px;
  }

  #sign-in-btn{
    color: white;
    margin: auto;
    padding: 4px 15px;
  }

  div {
    border: 1px solid white;
    border-radius: 5px;
  }
  
}


.splash-auth-btns > button{
  background: $button-orange;
  color: white;
  padding: 4px 15px;
  border: 1px solid $button-orange;
  border-radius: 5px;
}

.splash-welcome-text{
  margin: auto;
  text-align: center; 

  h1 {
    font-weight: 400;
    margin: 40px;
  }

  h3 {
    margin: 20px;
    margin-bottom: 40px;
    
  }

  a {
    font-size: 14pt;
    background-color: $button-orange;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 300;
  }

  *{
    color: white;
  }
}


.js-modal-close {
  display: none;
}

.form-down{
  transform: translateY(715px)
}

.js-modal-open{
  display: block;
}

.modal-screen{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  background: rgba(219, 219, 219, 0.8);
}

.modal-form{
  position: fixed;
  left: 50%;
  height: 620px;
  top: -620px;
  background-color: white;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: .3s;

  #email, #password, #age {
    border: 1px solid #ccc;
    font-size: 13pt;
  }  

  .options{
    width: 90%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    top: 50%;

    select {
      font-size: 12pt;
    }

    *{
      width: 90%;
      margin: 10px 0;
      padding: 7px 9px;
      border-radius: 3px;
    }
  }

  #submit {
    border: 1px solid $button-orange;
    background-color: $button-orange;
    color: white;
    text-align: center;
  }

  h1{
    text-align: center;
    font-weight: 400;
    margin-left: 15px; 
    margin-right: 15px;
    top: 25%;
  }

  label{
    font-size: 14pt;
  }
}

.modal-screen .modal-close {
  position: absolute; 
  top: 10px;
  right: 20px;
  color: black;
}

.modal-close i{
  font-size: 24px;
  color: black;
}

.session-errors{
  color: red;
}

.splash-body{
  min-height: 1000px;

  h1{
    text-align: center;
    font-size: 26pt;
    font-weight: 400;
    margin: 30px 0;
  }


  
}

.splash-featured-track{
  display: flex;
  justify-content: center;

  li{
    width: 90%;
  }

}