$button-orange: #f50;
$mid-gray: rgb(60, 60, 60);
$light-gray: rgb(150,150,150);
$background-gray: #f2f2f2;
$lighter-gray: #cecece;
$button-hover-orange: rgb(255, 60, 0);



.track-show-page{
  width: 100%;
  margin-top: 50px;

}