@import 'colors';


.track-show-page{
  width: 100%;
  margin-top: 50px;
  min-height: 1000px;

}

//HEADER

.header{
  height: 380px;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.track-show-header{
  background-image: linear-gradient(to right, rgb(161, 67, 250), rgb(206, 6, 179));

  .widget-container{
    position: absolute;
    left: 40px;
    bottom: 40px;
  }

  .image-upload{
    margin: 20px;
    width: 340px;
    height: 340px;
    position: absolute;
    right: 0;
    top: 0;
  }

  .image-container{
    width: 100%;
  }
}

.info-and-play-bar{
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: row;
  width: 840px;
  height: 340px;

  i{
    font-size: 45px;
    color: $button-orange;
  }

}

.update-info{
  margin: 20px 20px 0 0;
  position: absolute;
  top: 0;
  right: 0;
}

.track-info{
  display: flex;
  flex-direction: row;
  margin: 20px 0 0 20px;
  color: $background-gray;

  img{
    margin-top: 3px;
    width: 60px;
    height: 60px;
  }
  
}

.artist-title{
  display: flex;
  flex-direction: column;
  text-indent: 3px;

  a, h3{
    background-color: $nav-bar-selected-gray;
    margin: 5px 0 0 8px;
  }

  a{
    font-size: 12pt;
    padding: 2px;
  }

  h3{
    padding: 5px;
    font-weight: 400;
  }
}

.track-show-header .modal{

  i{
    margin-top: 50px;
  }

  .image-upload-image-container{
    height: 360px;
    width: 360px;

    img{
      object-fit: cover;
    }
  }

  .image-upload-modal{
    margin-left: -210px;
    width: 420px;
    height: 460px;
    top: -440px;
    margin-top: -160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .play-icon-container{
    width: 340px;
    height: 340px;
    margin-top: 40px;
  }

  button{
    padding: 7px;
    margin-right: 30px;
    border-radius: 5px;
  }
}
  
.cancel-submit{
  margin: 20px 20px 20px 0;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end
}

.track-show-body{
  display: flex;
  flex-direction: row;
}

.comment-input-show{
  display: flex;
  flex-direction: column;
  width: 66%;
  padding: 20px 30px;

  .input-area{
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 100%;
    background-color: $lighter-gray;
  }

  .comment-input{
    color: $light-gray;
    text-indent: 5px;
    height: 24px;
    width: 100%;
    margin: 8px;
    border-radius: 3px;
    background-color: white;
  }

  img{
    height: 40px;
    width: 40px;
  }
}

.profile-comment-area{
  display: flex;
  flex-direction: row;
  border-top: 1px solid $border-gray;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 50px;

  i{
    color: $empty-profile-head-gray;
    margin-right: 4px;
  }

  .liked{
    color: $button-orange;
  }


  p{
    color: $light-gray;
  }
}

.profile-area{
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  img{
    width: 120px;
    height: 120px;
    border-radius: 100px;
  }
  p{
    padding: 5px;
  }

  .username{
    color: black;
  }
}

.comment-area{
  width: 100%;
  > p{
    border-bottom: 1px solid $border-gray;
    padding-bottom: 10px; 
  }

  li{
    position: relative;

    .list-item-content{
      padding: 10px 0;
      display: flex;
      flex-direction: row;
    }

    .comment-body{
      
      color: black;
    }

    img{
      margin-right: 8px;
      border-radius: 100px;
    }

    .date-and-options{
      position: absolute;
      right: 0;
    }

    .date{
      text-align: end;
    }

    .options{
      display: none;
    }

    .reply-to-comment{
      width: 90%;
      background-color: $background-gray;
      height: 25px;
      border: 1px solid $border-gray;
      margin: 5px 0;
      display: flex;
      justify-content: center;
      align-items: center;

      .user-thumbnail{
        height: 25px;
        width: 25px;
        border-radius: 0;
      }

      form{
        width: 100%;
        padding: 3px;  
        height: 100%;
        display: flex;  
        flex-direction: column;
        justify-content: center;
      }

      input{
        background-color: white;
      }

    }

    .list-item-content:hover .options {
      display: flex;
      flex-direction: row;
      margin-top: 10px;
      justify-content: flex-end;

      .fa-reply{
        color: $light-gray;
      }
      
      .fa-trash{
        padding: 2px;
        color: $trash-can-black;
        margin-left: 5px;
        border: 1px solid $lighter-gray;
        border-radius: 3px;
      }

      .hidden{
        display: none;
      }
      
      .reply-option{
        border: 1px solid $lighter-gray;
        padding: 2px;
        border-radius: 3px;

      }

      .fa-trash:hover{
        border: 1px solid $light-gray;
      }

      .reply-option:hover{
        border: 1px solid $light-gray;
      }
    }
  }

  .child-comment .list-item-content{
    margin-left: 20px;
  }
}


// .track-show-header{
//   .widget-container{
//     width: 100%;
//     height: 200px;
//   }
  
//   iframe{
//     width: 100%;
//     height: 100%;
//   }
// }