@import 'colors';


.track-show-page{
  width: 100%;
  margin-top: 50px;

}

//HEADER

.track-show-header{
  height: 380px;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: linear-gradient(to right, rgb(161, 67, 250), rgb(206, 6, 179));
}
.artist-title{

  a, h3{
    background-color: $nav-bar-selected-gray;
  }

  a{
    font-size: 12pt;
    padding: 2px;
  }

  h3{
    padding: 5px;
    font-weight: 400;
  }
}