@import 'colors';

.main-content-area{
  margin-top: 50px;
  min-height: 1000px;
}

.user-show-header{
  background: linear-gradient(315deg, rgb(141, 138, 135) 0%, rgb(67, 63, 63) 100%);
  height: 260px;
  position: relative;

  .background-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img{
      width: 100%;
      border-radius: 0;
    }
  }

  > *{
    z-index: 2;
  }

  .upload-new-background-image{
    flex-direction: row;
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
    margin: 30px;
    border: 1px solid $light-gray;
    background-color: $lighter-gray;
    color: $nav-bar-selected-gray;
    border-radius: 3px;
    transition: .7s;

    .file-upload{
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;

    }

    p{
      margin-left: 8px;
    }
  }

  .upload-new-background-image:hover{
    background-color: $background-gray;
    transition: .7s;
 
  }

  .user-show-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  h2{
    margin-left: 30px;
    padding: 8px;
    background-color: black;
    color: white;
  }

  .image-upload{
    height: 200px;
    width: 200px;
  }

  img{
    object-fit: cover;
    border-radius: 200px;
  }
}

.user-show-track-widgets{
  width: 75%;
}

.widgets{
  padding: 0 30px;
  border-right: 1px solid $background-gray;
}

.user-show-body-nav{
  border-bottom: 1px solid $background-gray;
  margin: 20px 30px 30px 30px;
  font-size: 16pt;
}

.track-widget{
  margin: 10px 0;
}

.widgets-and-followers{
  display: flex; 
  flex-direction: row;
}

.user-show-body{
}

.followers-following-display{
  width: 25%;
  margin: 10px 30px 30px 30px;
}

.user-follow-stats{
  flex-direction: row;
  border-bottom: 1px solid $background-gray;
  padding-bottom: 10px;

}

.user-stat{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: $light-gray;
  margin-left: 20px;
  padding-right: 30px;
  border-right: 1px solid $background-gray;
  &:last-child{
    border: none;
  }
  &:first-child{
    margin-left: 0;
  }
}

.user-show-likes-display{
  display: flex;
  flex-direction: column;
}

.n-likes{
  display: flex;
  flex-direction: row;
  padding: 30px 0 10px 0;
  border-bottom: 1px solid $background-gray;
  color: $light-gray;
  > p{
    margin-left: 5px;
  }

  .fa-heart:hover{
    border: 1px solid white;
  }
}

.fa-heart{
  padding: 2px;
  border: 1px solid white;
  border-radius: 3px;
}

.fa-heart:hover{
  border: 1px solid $light-gray;
}

.following-user-container{
  border: 1px solid $button-orange;
  color: white;
  background-color: $button-orange;
  border-radius: 3px;
  padding: 3px;
}

.followed{
  border: 1px solid $lighter-gray;
  color: $button-orange;
  background-color: white;
}

.followed:hover{
  border: 1px solid $button-orange;
}


.liked-display-list-item{
  display: flex;
  color: $light-gray;
  padding: 10px 0;
  position: relative;

  .profile-picture{
    border-radius: 200px;
  }

  img{
    height: 50px;
    width: 50px;
  }

  .track-information{
    display: flex;
    flex-direction: column;
    margin-left: 10px;

  }

  .title{
    color: black; 
  }

  .n-likes{
    padding: 0;
    margin: 0 0 0 5px;
    border: none;
    font-size: 10pt;
  }

  .like-and-options{
    position: absolute;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
  }

  .liked:hover{
    border: 1px solid $button-orange;
  }
}

.liked, .followed{
  color: $button-orange;
}

.li-play-icon-container{
  display: none;
}

.liked-display-list-item:hover{

  .track-image{
    position: relative;
  }

  .li-play-icon-container{
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    top: 50%;
    margin-top: -20px;
  }

  .play-icon{
    position: absolute;
    height: 40px;
    width: 40px;
  }
}

.track-information{
  a:hover{
    color: $mid-gray;
  }
}


.user-show-content{
  position: relative;

  .image-container{
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .background-image{
    img{
      height: auto;
      width: 100%;
    }
  }

}

.profile-background, .profile-picture{
  margin-left: -500px;
  width: 1000px;
  height: 300px;
  top: -300px;
  margin-top: -150px;

  .image-upload-image-container{
    width: 900px;
    height: 180px;
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -450px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img{
      border-radius: 0;
    }
  }

  .cancel-submit{
    position: absolute;
    bottom: 0;
    right: 0;
    height: auto;
    margin-right: 40px;

    button{
      padding: 7px;
      margin: 10px;
      border-radius: 3px;

    }
  }
}

.profile-picture{
  margin-left: -150px;
  width: 300px;
  height: 300px;
  top: -400px;
  margin-top: -200px;

  .image-upload-image-container{
    width: 200px;
    height: 200px;
    margin-left: -100px;
    border-radius: 200px;
  }

  img{
    height: 100%;
    width: auto;
  }

}

.followed-user-display{

  .profile-picture{
    top: 0; 
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0;
  }
}